@font-face {
    font-family: 'Kingsoft';
    src: url('../fonts/Kingsoft_Cloud_Font.ttf') format('truetype');
}

@font-face {
    font-family: 'Siyuan';
    src: url('../fonts/SourceHanSerifCN-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Harmony';
    src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Smiley';
    src: url('../fonts/SmileySans-Oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hanson';
    src: url('../fonts/Hanson.ttf') format('truetype');
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lixuke';
    src: url('../fonts/LiXuKe.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Titil';
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Douyu';
    src: url('../fonts/douyuFont.otf') format('opentype');
}

@font-face {
    font-family: 'Dakai';
    src: url('../fonts/Alimama_DongFangDaKai_Regular.ttf') format('Truetype');
}

@font-face {
    font-family: 'Daoli';
    src: url('../fonts/AlimamaDaoLiTi.ttf') format('Truetype');
}

.Siyuan{
	font-family: 'Siyuan';
}

.Libre{
	font-family: 'Libre';
}

.Yellowtail{
	font-family: 'Yellowtail';
}

.Hanson{
	font-family: 'Hanson';
}

.Lixuke{
	font-family: 'LiXuKe';
}

.Roboto{
	font-family: 'Roboto';
}

.Titil{
	font-family: 'Titil';
}

.Douyu{
	font-family: 'Douyu';
}

.Dakai{
	font-family: 'Dakai';
}

.Daoli{
	font-family: 'Daoli';
}
