* {
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
}

html, body {
    height: 100%;
	background-color: #282828;
	color: #F0F0F0;
	font-family: 'Harmony';
}

#fullpage{
	transition: background-color 0.5s, color 0.5s;
}
	
#homepage{
	background-color: #282828;
	width: 100vw;
}

#center-title{
	position: relative;
	top: 280px;
	width: 400px;
}

.main-title{
	font-family: 'Kingsoft';
	font-size: 2rem;
	text-align: center;
	font-weight: 300;
	background: linear-gradient(180deg, #F0F0F0 30%, rgba(240, 240, 240, 0) 87%);
	-webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	background-clip: text;
	 text-fill-color: transparent;
}

.sub-title{
	font-family: 'Kingsoft';
	font-size: 1rem;
	text-align: center;
	letter-spacing: 0.2em;
	color: #F0F0F0;
}

.center{
	display: flex;
	justify-content: center;
}

.arrow-down{
	position: relative;
	top: 400px;
	transition: stroke-width 0.3s;
}

.arrow-down:hover{
	stroke-width: 3;
}

.sentence{
	position: relative;
	top: 420px;
	font-family: 'Siyuan';
	font-size: 18px;
	text-align: center;
	color: #9E9E9E;
}

.section{
	width: 100vw;
}

.page-container{
	height: 100vh;
	width: 100vw;
	}

#bonjour{
	position: relative;
	top: 160px;
	padding-left: 24px;
}

#bonjour h3{
	font-family: 'Smiley';
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 2px;
}

#bonjour p{
	margin-top: 8px;
	font-size: 16px;
}

@media (min-width:601px){
	#bonjour{
		margin-left: 24px; /* 清除左边距 */
	}
	
	.page-container{
		width: 600px;
	}
}

.item-menu{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 180px;
	justify-content: center;
}

.menu-items {
    width: 160px;
    height: 160px;
    margin: 8px;
    border-radius: 20px;
    background: #484848;
    box-sizing: border-box;
    border: 2px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items a{
	color: #F0F0F0;
	text-align: center;
	height: 100%;
	font-weight: 300;
}

.menu-items img{
	position: relative;
	margin-top: 40px;
	width: 48px;
	height: auto;
}

.menu-items p{
	margin-top: 4px;
	font-size: 10px;
}
