* {
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
}

html, body {
    height: 100%;
}

.nav{
	height: 4rem;
	background-color: #202020;
	color: #f0f0f0;
}

.nav-items{
	line-height: 4rem;
	padding: 0 1rem;
}

.center{
	display: flex; /* 使用 flexbox 布局 */
	    justify-content: center; /* 子元素水平居中 */
}

.mainTitle{
	margin-top: 25vh;
	font-size: 8rem;
}

.subTitle{
	font-size: 1.5rem;
	text-align: center;
}
