* {
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
}

html, body {
    height: 100%;
}

#fullpage{
	transition: background-color 0.5s, color 0.5s;
}
	
#homepage{
	background-color: #282828;
	width: 100vw;
}

#center-title{
	position: relative;
	top: 280px;
	width: 400px;
}

.main-title h1{
	font-family: img/Kingsoft_Cloud_Font.ttf;
	font-size: 64px;
	text-align: center;
	font-variation-settings: "opsz" auto;
	background: linear-gradient(180deg, #F0F0F0 30%, rgba(240, 240, 240, 0) 87%);
	-webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	background-clip: text;
	 text-fill-color: transparent;
}

.sub-title{
	font-family: Kingsoft_Cloud_Font;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #F0F0F0;
}

.center{
	display: flex;
	justify-content: center;
	text-align: center;
}

.arrow-down{
	position: relative;
	top: 400px;
	transition: stroke-width 0.3s;
}

.arrow-down:hover{
	stroke-width: 3;
}

.sentence{
	position: relative;
	top: 420px;
	font-family: Source Han Serif CN;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #9E9E9E;
}
